POSTGRES_DB=ironbus
POSTGRES_USER=ironbus
POSTGRES_PASSWORD=################
POSTGRES_PORT=5432

BACKEND_PORT=8080
FRONTEND_PORT=3000

FRONTEND_URL=http://localhost:3000
PUBLIC_API_URL=http://localhost:8080

APP_VERSION=1.0.0
SWAGGER_UI_ENABLED=true
OPENAPI_DOCS_ENABLED=true